<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://thymeleaf.org/extras/spring-security">

<head th:replace="layout/layout :: head"></head>

<body>

	<div th:insert="~{user/template_user.html::header-user}" sec:authorize="hasRole('ROLE_USER')"></div>
	<div th:insert="~{administrator/template_admin.html::header}" sec:authorize="hasRole('ROLE_ADMIN')"></div>
	<div th:insert="~{user/template_user.html::header}" sec:authorize="!isAuthenticated()"></div>

	<header th:replace="layout/layout :: header"></header>



	<div class="container py-4">

		<div class="card bg-light">
			<div class="card-header" th:text="${titulo}"></div>

			<style>
				.list-group-item {
					margin-bottom: 10px;
					/* Ajusta el valor según sea necesario */
				}
			</style>
			<div class="card-body">
				<form th:action="@{/cart}" method="POST">
					<input type="hidden" th:value="${product.id}" name="id">
					
					<div class="row">
						<div class="col-md-6">
							<img th:if="${product.foto != null and #strings.length(product.foto) > 0}"
								class="img-thumbnail rounded float-left" style="max-width: 100%;"
								th:src="@{'/uploads/' + ${product.foto}}" th:alt="${product.foto}" />
						</div>
						<div class="col-md-6">


							<ul class="list-group">
								<li class="list-group-item active"><strong>Description:</strong> <span
										th:text="${product.desc_product}"></span></li>
								<li class="list-group-item active"><strong>Extended Description:</strong> <span
										th:text="${product.desc_extend}"></span></li>
								<li class="list-group-item precio"  ><strong>Price:</strong> <span
										th:text="${product.precio}"></span></li>
								<li class="list-group-item" sec:authorize="hasRole('ROLE_USER')" >
										<h6 >
   											 Quantity: <input type="number" id="quantity" name="quantity" autocomplete="off" min="1" max="5" value="1">
										</h6>
								</li>		
						<div >
							<button type="submit" class="btn btn-dark" sec:authorize="hasRole('ROLE_USER')" >Añadir al
								carrito</button>
						</div>
							</ul>
						</div>
				</form>
			</div>
		</div>
	</div>

	<a th:href="@{/}" class="btn btn-light btn-xs" style="margin-top: 10px;">&laquo; Return</a>


	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>