<!DOCTYPE html>
<html lang="es" xmlns:th="http://www.thymeleaf.org">

<head th:replace="layout/layout :: head"></head>

<body>

	<div th:insert="~{user/template_user.html::header-user}" sec:authorize="hasRole('ROLE_USER')"></div>
	<div th:insert="~{administrator/template_admin.html::header}" sec:authorize="hasRole('ROLE_ADMIN')"></div>
	<div th:insert="~{user/template_user.html::header}" sec:authorize="!isAuthenticated()"></div>


	<header th:replace="layout/layout :: header"></header>



	<div class="page-container">
		<!-- Page Content -->
		<div class="container">

			<!-- Jumbotron Header -->
			<header class="jumbotron my-4">
				<h1 class="display-3">Welcome to Spring Ecommerce 2024 </h1>
				<p class="lead">Online products store</p>
			</header>

			<!-- Page Features -->
				<h4 class="card-title">
					<a th:href="@{/categorie/form}" class="btn btn-primary">Create Category</a>
				</h4>
			<div class="row text-center">

				<div class="col-lg-3 col-md-6 mb-4" th:each="categorie: ${categories}">
					<div class="card h-100">
						<a th:href="@{/categorie/verproxcateg/} + ${categorie.id}" class="category-link">
							<div class="category-content">
								<img th:if="${categorie.foto != null and #strings.length(categorie.foto) > 0}"
									th:src="@{'/uploads/' + ${categorie.foto}}" th:alt="${categorie.foto}"
									style="max-width: 100%; height: auto;" />
								<div class="card-body">
									<p class="card-text" th:text="${categorie.desc_categorie}"></p>
								</div>
							</div>
						</a>
						<div class="card-footer">
							<!-- <a th:href="@{/products}" class="btn btn-success">Ver producto</a> -->
						</div>
					</div>
				</div>

			</div>
			<nav th:replace="paginator-nav :: paginator"></nav>
			<!-- /.row -->

		</div>
	</div>

	<footer th:replace="layout/layout :: footer"></footer>
</body>

</html>